/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

body {
  /* background-color: #50808E; */
  background-color: #282A36; 
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
  color: white 
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

a {
  color: #8BE9FD;
}


/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  background-color: #6272A4;
  border-radius: 15px; 
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #44475A !important; 
  color: white !important;
  border-radius: 15px;
}

.link-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #44475A; 
  border-radius: 15px;
}

.code-preview { 
  max-height: 700px;
  border-radius: 10px;
}