/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

:root {
    --font: white;
    --outerbg: #282A36;
    --innerbg:  #6272A4;
    --foreground: #44475A;
    --border: #BD93F9;
    --hover: #FF79C6;
}

.special {
    background-color: lavender !important;
    border: dashed 5px skyblue !important;
    color: #BD93F9 !important;
    font-weight: bold;
}

.special-sections {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #44475A; 
  color: white;
  border-radius: 15px;
  border: solid 1px #BD93F9;
}


.minor-section {
    border: solid 1px var(--border); 
    background-color: var(--foreground); 
    color: var(--font); 
}

#content {
  color: var(--font) ; 
  background-color: var(--innerbg); 
}

body {
  background-color: var(--outerbg); 
}

h1,h2,h3 {
 color: var(--font); 
 
}



.link-section {
  background-color: var(--foreground) !important; 
  border: 2px solid var(--border) !important;
  color: var(--font) !important;
}

.link-section p {
  color: var(--font) !important;
}

.link-section:hover {
  border-color: var(--hover) !important;
  background-color: var(--outerbg);
}

.link-section:hover p {
  color: var(--hover) !important;
}

.code-section {
  border: 3px solid var(--border) !important;
}