/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

:root {
    --font: white;
    --outerbg: #34294f;
    --innerbg:  #232530 ;
    --foreground: #34294f;
    --border: #BD93F9;
    --hover: #f97e72;
}

.special {
    background-color: #232530 !important;
    border: groove 10px #f97e72 !important;
    color: #f97e72  !important;
    font-weight: bold;
    display:grid ;
    justify-content: center ;
    border-radius: 1px !important;
}

.special-sections {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--foreground); 
  color: var(--font);
  border-radius: 15px;
  border: solid 1px var(--border);
}

.minor-section {
    border: solid 1px var(--border); 
    background-color: var(--foreground); 
    color: var(--font); 
}

#content {
  color: var(--font) ; 
  background-color: var(--innerbg); 
}

body {
  background-color: var(--outerbg); 
}

h1,h2,h3 {
 color: var(--font); 
 
}



.link-section {
  background-color: var(--foreground) !important; 
  border: 2px solid var(--border) !important;
  color: var(--font) !important;
}

.link-section p {
  color: var(--font) !important;
}

.link-section:hover {
  border-color: var(--hover) !important;
  background-color: var(--outerbg);
}

.link-section:hover p {
  color: var(--hover) !important;
}

.code-section {
  border: 3px solid var(--border) !important;
}