/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

:root {
    --font: #000000;
    --outerbg: #FDF6F0;
    --innerbg:  #F6E7FB;
    --foreground: #BEE3DB ;
    --border: #A3C4F3;
    --hover: #A3C4F3;
    --outline: 0.35;
}

.text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #F6E7FB;
  color: #000000 ;
  font-family: sans-serif;
  font-size: 0.8em;
  border: 2px solid var(--border);
}

#output {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
}

#output .text:nth-child(odd) {
  justify-content: flex-start;
}
#output .text:nth-child(even) {
  justify-content: flex-end;
}

.chat-box {
  margin: 1em 0;
  display: flex; 
  gap: 0.5em;
}

.reply {
  flex:1;
  padding: 0.5em; 
  border-radius: 10px; 
  border: 1px solid var(--border);
}

.minor-section {
    border: solid 1px var(--border)!important; 
    background-color: var(--foreground)!important; 
    color: var(--font)!important; 
}

#content {
  color: var(--font) !important; 
  background-color: var(--innerbg)!important; 
}

body {
  background-color: var(--outerbg)!important; 
}

h1,h2,h3 {
 color: var(--font)!important; 
 
}



.link-section {
  background-color: var(--foreground) !important; 
  border: 2px solid var(--border) !important;
  color: var(--font) !important;
}

.link-section p {
  color: var(--font) !important;
  text-shadow: -1px 0 rgba(0, 0, 0, var(--outline)), 0 1px rgba(0, 0, 0, var(--outline)), 1px 0 rgba(0, 0, 0, var(--outline)), 0 -1px rgba(0, 0, 0, var(--outline)) !important;
}

.link-section:hover {
  border-color: var(--hover) !important;
  background-color: var(--outerbg);
}

.link-section:hover p {
  color: var(--hover) !important;
}

.code-section {
  border: 3px solid var(--border) !important;
}

