/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

:root {
  --font: #3b1e28;
  --outerbg: #f6f0e6;
  --innerbg: #f3d9dc;
  --foreground: #e7b9c4;
  --border: #d18dcb;
  --hover: #ff6f91;
  --outline: 0.25;
}



.minor-section {
    border: solid 1px var(--border)!important; 
    background-color: var(--foreground)!important; 
    color: var(--font)!important; 
}

#content {
  color: var(--font) !important; 
  background-color: var(--innerbg)!important; 
}

body {
  background-color: var(--outerbg)!important; 
}

h1,h2,h3 {
 color: var(--font)!important; 
 
}



.link-section {
  background-color: var(--foreground) !important; 
  border: 2px solid var(--border) !important;
  color: var(--font) !important;
}

.link-section p {
  color: var(--font) !important;
}


.link-section:hover {
  border-color: var(--hover) !important;
  background-color: var(--outerbg);
}

.link-section:hover p {
  color: var(--hover) !important;
  text-shadow: -1px 0 rgba(0, 0, 0, var(--outline)), 0 1px rgba(0, 0, 0, var(--outline)), 1px 0 rgba(0, 0, 0, var(--outline)), 0 -1px rgba(0, 0, 0, var(--outline)) !important;
}

.code-section {
  border: 3px solid var(--border) !important;
}


.photo-section img {
  height: 400px;      
  width: auto;       
  max-width: 800px;
}