/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888!important; 
    background-color: #DDD8C4!important; 
    color: brown!important; 

}

#content {
  color: brown!important; 
  background-color: tan!important; 
  flex: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  overflow-y: auto;
}

body {
  background-color: tan!important; 
  font-family:'Courier New', Courier, monospace;
  font-size: 150%;
}

h1,h2,h3 {
 color: brown!important; 
}

.pet-photo {
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}

a {
  color: darkred!important; 
}

.link-section {
  background-color: #DDD8C4!important; 
  border: 2px solid brown !important;
  color: brown !important;
}