/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */


:root {
  --font: #f3e9dc;
  --outerbg: #1e1411;
  --innerbg: #30201b;
  --foreground: #4b2e2e;
  --border: #d4a373;
  --hover: #ff6b6b;
  --outline: 0.4;
}


.minor-section {
    border: solid 1px var(--border)!important; 
    background-color: var(--foreground)!important; 
    color: var(--font)!important; 
}

#content {
  color: var(--font) !important; 
  background-color: var(--innerbg)!important; 
}

body {
  background-color: var(--outerbg)!important; 
}

h1,h2,h3 {
 color: var(--font)!important; 
 
}



.link-section {
  background-color: var(--foreground) !important; 
  border: 2px solid var(--border) !important;
  color: var(--font) !important;
}

.link-section p {
  color: var(--font) !important;
}


.link-section:hover {
  border-color: var(--hover) !important;
  background-color: var(--outerbg);
}

.link-section:hover p {
  color: var(--hover) !important;
  text-shadow: -1px 0 rgba(0, 0, 0, var(--outline)), 0 1px rgba(0, 0, 0, var(--outline)), 1px 0 rgba(0, 0, 0, var(--outline)), 0 -1px rgba(0, 0, 0, var(--outline)) !important;
}

.code-section {
  border: 3px solid var(--border) !important;
}